.header {
  width: 100%;
  height: 72px;
  padding-top: 24px;
  box-shadow: 0px 4px 12px rgba(207, 207, 207, 0.25);
  align-items: center;
}
.header__logo {
  width: 97px;
  height: 21px;
}
.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__menu {
  padding-left: 40px;
}
.header__menu-list {
  display: flex;
  justify-content: flex-end;
  padding: 0 47px 0 0;
}
.header__menu-item {
  border-right: 1px solid #EFEFEF;
  padding: 0 8px;
}
.header__menu-item:last-child {
  border-right: none;
}
.header__menu-link:hover {
  cursor: pointer;
  color: #359740;
}
.header__search {
  width: 285px;
  border: 1px solid #EFEFEF;
  border-radius: 71px;
  background: url("../../icon/search.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 5px 28px;
  outline: none;
}
.header__search::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 178.19%;
  padding-left: 25px;
  align-items: center;
}
.header__search:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 178.19%;
  padding-left: 25px;
  align-items: center;
}
.header__search::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 178.19%;
  padding-left: 25px;
  align-items: center;
}
.header__media {
  display: flex;
  align-items: center;
}
.header__media-all {
  display: flex;
  padding-right: 12px;
}
.header__media-link {
  padding-left: 8px;
}
.header__media-link:hover path {
  stroke: #Fff;
  fill: #359740;
}
.header__like {
  display: flex;
  justify-content: space-around;
  padding-left: 16px;
}
.header__burger {
  display: none;
  width: 48px;
}
.header__burger-close {
  display: none;
  width: 48px;
}

@media (max-width: 1150px) {
  .header {
    display: block;
    align-items: center;
    text-align: center;
  }
  .header__gam {
    display: block;
    width: 24px;
    padding-left: 24px;
  }
  .header__menu {
    display: none;
  }
  .header__menu-listopen {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 50px 50px;
  }
  .header__menu-item {
    padding-right: 24px;
  }
  .header__burger {
    width: 40px;
    display: block;
    background: none;
    padding-left: 24px;
  }
  .header__burger-close {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__media-all {
    display: none;
  }
  .header__search {
    display: none;
  }
  .header__menu {
    right: 0;
  }
  .header__menu-list {
    display: flex;
    flex-direction: column;
    position: block;
    background: #ccc;
    right: 0;
    border: none;
    padding: 0;
  }
  .header__menu-listopen {
    padding: 50px 0;
  }
  .header__menu-item {
    padding: 24px 0;
    border: none;
  }
}
.planting {
  padding-top: 40px;
}
.planting__container {
  display: flex;
  align-items: center;
  width: 100%;
  background: url("../../img/mainbg.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #EAF1EB;
  border-radius: 24px;
}
.planting__info {
  padding: 48px 70px;
}
.planting__title {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -0.05em;
}
.planting__text {
  padding-top: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
.planting__cost {
  display: flex;
  align-items: center;
}
.planting__cost-icon {
  width: 28px;
  height: 36px;
}
.planting__cost-now {
  padding: 0 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 54px;
}
.planting__cost-old {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 54px;
  color: #70737C;
}
.planting__btn {
  padding-top: 24px;
}
.planting__btn-one {
  cursor: pointer;
  width: 153px;
  height: 51px;
  background: #359740;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 178.19%;
  letter-spacing: -0.035em;
  color: #FFF;
  margin-right: 12px;
}
.planting__btn-one:hover {
  background: #FFF;
  color: #359740;
}
.planting__btn-two {
  cursor: pointer;
  width: 153px;
  height: 51px;
  background: #FFF;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 178.19%;
  letter-spacing: -0.035em;
  color: #359740;
}
.planting__btn-two:hover {
  background: #359740;
  color: #FFF;
}
.planting__btn__img {
  width: 349px;
}
.planting__btn__img-img {
  width: 100%;
}
.planting__sell {
  padding-top: 16px;
}
.planting__sell-all {
  text-align: center;
  width: 100%;
  background: url("../../icon/bgright.svg"), url("../../icon/bgleft.svg");
  background-position: right bottom, left bottom;
  background-repeat: no-repeat;
  background-color: rgba(255, 230, 46, 0.09);
  border-radius: 12px;
}
.planting__sell-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #1F2533;
}
.planting__sell-text {
  padding: 0 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 178.19%;
  letter-spacing: -0.035em;
  color: #70737C;
}

@media (max-width: 1150px) {
  .planting__title {
    font-size: 28px;
    line-height: 44px;
    letter-spacing: -0.08em;
  }
  .planting__text {
    padding-top: 12px;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
  }
  .planting__info {
    padding: 28px 40px;
  }
  .planting__cost {
    display: flex;
    align-items: center;
  }
  .planting__cost-icon {
    width: 20px;
    height: 28px;
  }
  .planting__cost-now {
    padding: 0 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
  }
  .planting__cost-old {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    color: #70737C;
  }
}
@media (max-width: 960px) {
  .planting__title {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: -0.08em;
  }
  .planting__text {
    padding-top: 8px;
    font-style: normal;
    font-size: 10px;
    line-height: 20px;
  }
  .planting__info {
    padding: 20px 32px;
  }
  .planting__btn {
    display: flex;
  }
  .planting__btn-one {
    width: 132px;
  }
  .planting__btn-two {
    width: 132px;
  }
}
@media (max-width: 767px) {
  .planting__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .planting__img {
    display: flex;
    width: 210px;
  }
  .planting__img-img {
    width: 100%;
    margin: 0 auto;
  }
}
.product {
  padding-top: 58px;
}
.product__header {
  display: flex;
  justify-content: space-between;
}
.product__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.05em;
  color: #1F2533;
}
.product__btn {
  width: 155px;
  height: 51px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background: #FFFFFF;
  color: #359740;
}
.product__btn:hover {
  background: #359740;
  color: #FFF;
}
.product__category {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.product__category-btn {
  cursor: pointer;
  display: flex;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  padding: 4px 10px;
  gap: 4px;
}
.product__category-btn-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 178.19%;
  text-align: center;
}
.product__category-btn:hover {
  background-color: #359740;
}
.product__category-btn:hover .product__category-btn-text {
  color: #FFF;
}
.product__category-btn:hover path {
  stroke: #Fff;
  fill: #359740;
}
.product__card-all {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__card {
  width: 312px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  padding: 20px 10px;
  margin-bottom: 27px;
}
.product__card-like {
  cursor: pointer;
  display: flex;
  position: absolute;
  background: #FFF;
}
.product__card-like:hover path {
  stroke: #359740;
}
.product__card-imgbox {
  display: flex;
  justify-content: center;
}
.product__card-stars {
  padding-top: 24px;
  display: flex;
}
.product__card-star {
  margin-right: 5px;
}
.product__card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.04em;
}
.product__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  padding-bottom: 10px;
}
.product__card-archiv {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background: #FFF;
}
.product__card-archiv:hover {
  background: #359740;
}
.product__card-archiv:hover path {
  stroke: #FFF;
}
.product__card-cost {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 54px;
  color: #1F2533;
}
.product-img {
  width: 100%;
}

@media (max-width: 1150px) {
  .product {
    justify-content: space-around;
  }
  .product__title {
    font-size: 22px;
    line-height: 34px;
  }
  .product__category-btn:nth-child(2n) {
    display: none;
  }
  .product__btn {
    width: 124px;
    height: 47px;
  }
  .product__card:nth-child(2n) {
    display: none;
  }
}
@media (max-width: 960px) {
  .product__card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .product__category-btn:last-child {
    display: none;
  }
  .product__card-all {
    display: flex;
    justify-content: center;
  }
  .product__card:nth-child(5) {
    display: none;
  }
}
@media (max-width: 440px) {
  .product__category-btn:nth-child(2n) {
    display: none;
  }
}
.blog {
  padding-top: 30px;
}
.blog__info {
  display: flex;
  justify-content: space-between;
}
.blog__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.05em;
  color: #1F2533;
}
.blog__go {
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 11px 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 178.19%;
  letter-spacing: -0.035em;
  color: #359740;
}
.blog__go:hover {
  background: #359740;
  color: #FFF;
}
.blog__cards {
  display: grid;
  grid-gap: 30px;
  padding-top: 30px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
.blog__cards .grid__item-1 {
  background: url("../../img/blogcard.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #EAF1EB;
  grid-column: 1/3;
  grid-row: 1/2;
}
.blog__cards .grid__item-2 {
  background: url("../../img/blogcard02.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #EAF1EB;
  grid-row: 1/3;
  grid-column: 3/span 1;
}
.blog__cards .grid__item-3 {
  background: url("../../img/bgcard03.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #EAF1EB;
}
.blog__cards .grid__item-4 {
  background: url("../../img/bgcard03.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #EAF1EB;
}
.blog__card {
  width: 100%;
  padding: 30px;
  border-radius: 12px;
}
.blog__card-title {
  padding-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #1F2533;
}
.blog__card-text {
  padding-top: 8px;
  padding-bottom: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 178.19%;
  color: #70737C;
}
.blog__card-btn {
  cursor: pointer;
  width: 106px;
  height: 51px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 178.19%;
  letter-spacing: -0.035em;
  color: #359740;
}
.blog__card-btn:hover {
  background: #359740;
  color: #FFF;
}
.blog__time {
  display: flex;
  align-items: center;
}
.blog__time-text {
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 178.19%;
}

@media (max-width: 1150px) {
  .blog__cards {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .blog .grid__item-2 {
    display: none;
  }
}
@media (max-width: 440px) {
  .grid__item-3 {
    display: none;
  }
  .grid__item-4 {
    display: none;
  }
}
.client {
  padding-top: 51px;
  padding-bottom: 40px;
}
.client__header {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.05em;
  color: #1F2533;
}
.client__card {
  display: flex;
  flex-direction: column;
  align-items: stretch !important;
  width: 100%;
  height: 100%;
  padding: 35px;
  background: #FFF;
  border: 1px solid #EFEFEF;
  box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
.client__card-title {
  display: flex;
  align-items: center;
  gap: 24px;
}
.client__card-avatar {
  width: 64px;
  height: 64px;
}
.client__card-h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #1F2533;
  padding-bottom: 10px;
}
.client__card-text {
  padding-top: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #1F2533;
}

.swiper {
  width: 100%;
  padding-top: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: unset;
  flex-shrink: 1;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

@media (max-width: 1150px) {
  .client__card {
    padding: 22px;
  }
}
.grow {
  padding-top: 50px;
}
.grow__part {
  display: flex;
  justify-content: space-between;
}
.grow__info {
  width: 48%;
}
.grow__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: -0.05em;
  color: #1F2533;
}
.grow__text {
  padding-top: 31px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
.grow__img {
  max-width: 48%;
  height: 528px;
  width: 528px;
  border: 7px solid transparent;
  border-radius: 50%;
  background: linear-gradient(to right, white, white), linear-gradient(to right, white, #359740);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grow__img img {
  width: 466px;
  height: 466px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1150px) {
  .grow__img {
    width: 466px;
    height: 466px;
  }
  .grow__img img {
    width: 404px;
    height: 404px;
  }
}
@media (max-width: 960px) {
  .grow__img {
    width: 404px;
    height: 404px;
  }
  .grow__img img {
    width: 342px;
    height: 342px;
  }
}
@media (max-width: 835px) {
  .grow__img {
    width: 342px;
    height: 342px;
    align-items: center;
  }
  .grow__img img {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 768px) {
  .grow__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .grow__title {
    font-size: 22px;
  }
  .grow__text {
    font-size: 12px;
  }
  .grow__img {
    width: 280px;
    height: 280px;
    align-items: center;
  }
  .grow__img img {
    width: 218px;
    height: 218px;
  }
}
@media (max-width: 580px) {
  .grow__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .grow__title {
    font-size: 18px;
  }
  .grow__text {
    font-size: 10px;
  }
  .grow__img {
    width: 218px;
    height: 218px;
    align-items: center;
  }
  .grow__img img {
    width: 156px;
    height: 156px;
  }
}
@media (max-width: 444px) {
  .grow__img {
    width: 156px;
    height: 156px;
    align-items: center;
  }
  .grow__img img {
    width: 110px;
    height: 110px;
  }
}
.footer {
  margin-top: 31px;
  padding-top: 30px;
  background: #FFFFFF;
  box-shadow: 0px -7px 80px rgba(189, 189, 189, 0.25);
}
.footer__list {
  display: flex;
  border-bottom: 1px solid #359740;
  padding-bottom: 33px;
}
.footer__item {
  border-right: 1px solid #359740;
  padding: 0 30px;
}
.footer__item:last-child {
  border-right: 0;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 34px 0;
}
.footer__link:hover {
  color: #359740;
}

@media (max-width: 1150px) {
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer__item {
    border-right: 0;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #363738;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  color: #1F2533;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Lexend";
  color: #1F2533;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

@media (max-width: 1150px) {
  .container {
    width: calc(100% - 40px);
  }
}
.main {
  flex: 1 1 auto;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}/*# sourceMappingURL=main.css.map */